

.especialidades{
    padding-top: 2rem;
    margin: auto;
    gap: 4rem;
    max-width: 1280px;
    
   
}
.title--especialidades{
    text-align: center;
    font-size: 2.65rem;
    margin-top: 4rem;
    font-weight: 600;

    & span {
        color: #00FF08;
    }
}

.especialidades{

    display: flex;

    & .especialidades--box {
        flex: 1;
        padding: 60px;
        border-radius: 20px;
        transition: .2s;

        & h3 {
            font-size: 1.6rem;
            padding-block: 1rem;
            font-weight: 600;
        }

        & p {
            font-size: 0.9rem;
            max-width: 30ch;
            font-weight: 300;
            max-width: 50ch;
            
        }

        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0 8px #f3f3f35b;
        }
    }




}














