

.formulario{
    padding-block: 4rem;
    padding-inline: 2rem;
}

form {
    max-width: 490px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;

    & input, & textarea {
        width: 90%;
        background-color: rgba(31, 31, 31, 0.308);
        border: 0;
        outline: 0;
        padding: 2rem 1.5rem;
        border-radius: 15px;
        color: #f3f3f3;

    }

    & textarea {
        resize: none;
        max-height: 100px;
    }

    .btn-enviar {
        margin-top: 2rem;  
        text-align: center;
        justify-content: center;
        align-items: center;
       

        & input {

            width: 100px;
            cursor: pointer;
            background-color:#00FF08;
            color: black;
            font-weight: 700;
            transition: .2s;
            
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 8px #00FF08;
            }
        }
    }

}


